@model IEnumerable<EmployeeModel.EmployeeByDept>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-danger">Department Employees</h2>

<p>
    @using (Html.BeginForm())
    {
        <table width="100%">
            <tr>
                <th>
                    @Html.DropDownList("DepartmentId", null, new { @class = "form-control", onchange = "this.form.submit();" })
                </th>
                <th>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" id="txtSearch" placeholder="Search Employee" class="form-control" />
                    </div>
                </th>
                <th style="float:right;">
                    @Html.ActionLink("Add Department", "Create", "Departments")
                    &nbsp;
                    @Html.ActionLink("Add Employee", "Create", "Employees")
                </th>
            </tr>
            
        </table>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="Search">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.ActionLink("Change Department", "Edit","Employees",null, new { id = item.EmployeeId, @class = "text-danger" }) 
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>*@
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(a, b) {
            if (a.indexOf(b) != -1) {
                return true;
            }
        }
        $("#txtSearch").keyup(function () {
            var SearchText = $("#txtSearch").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), SearchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });

</script>